@model FinalProject.Areas.Admin.Models.LoginViewModelAdmin

@{
    ViewBag.Title = "Login_Admin";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login Admin</title>

    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Data/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/Data/css/sb-admin-2.min.css" rel="stylesheet">

</head>


@using (Html.BeginForm("Index", "LoginAdmin", FormMethod.Post, new { id = "loginForm" }))
{
    @Html.AntiForgeryToken()

    <body class="bg-gradient-primary">

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Login Admin</h1>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Email)
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Email)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Password)
                                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Password)
                                            </div>
                                            @if (TempData["Error"] != null)
                                            {
                                                <div class="alert alert-danger">@TempData["Error"]</div>
                                            }
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">
                                                        Remember
                                                        Me
                                                    </label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="~/Areas/Admin/Data/vendor/jquery/jquery.min.js"></script>
        <script src="~/Areas/Admin/Data/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Areas/Admin/Data/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Areas/Admin/Data/js/sb-admin-2.min.js"></script>

    </body>
}
</html>


@{
    TempData.Remove("Error");
}

@section scripts {
    <script>

        // Xóa thông tin đăng nhập lưu trên trình duyệt khi người dùng tải lại trang
        window.addEventListener('beforeunload', function () {
            var form = document.getElementById('loginForm');
            form.reset();
        });
    </script>
}
