@model FinalProject.Models.Reseller

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reseller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResellerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResellerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResellerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResellerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResellerPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResellerPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResellerLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResellerLocation)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-info" /> |
            <a href="@Url.Action("Index")" class="btn btn-outline-info">Back to List</a>
        </div>
    }
</div>
