@model FinalProject.Models.Reseller

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reseller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResellerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResellerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResellerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResellerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResellerPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResellerPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResellerLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResellerLocation)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.ResellerId })" class="btn btn-outline-info">Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-outline-info">Back to List</a>
</p>
